@import "src/scss/variables";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  // main {
  div {
    background-color: #e6dedb;
    flex-grow: 1;
  }
  // }
  // height: 90%;
}

main {
  height: 100%;
  flex: 1;
  display: flex;
  border-bottom: $border;

  app-navbar {
    width: 20%;
    max-width: 180px;
    border-right: $border;
  }
}

app-chat {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  // overflow: auto;
}
