<div class="users-register">
  <div class="header">
    <mat-toolbar>
      <button mat-icon-button aria-label="user profile">
        <mat-icon>face</mat-icon>
        <span> Users </span>
      </button>
    </mat-toolbar>
  </div>

  <div class="sideBarContent">
    <div
      class="conversations"
      *ngFor="let user of users"
      (click)="conversationClicked.emit(user)"
    >
      <div class="picture">
        <img src="..\..\assets\img\icons8-test-account-96.png" alt="" />
      </div>
      <div class="content">
        {{ user }}
      </div>
    </div>
  </div>
</div>
