<div class="container">
  <div class="header">
    <mat-toolbar>
      <button mat-icon-button aria-label="user profile">
        <mat-icon>account_box</mat-icon>
        <span> John </span>
      </button>
      <button
        mat-raised-button
        color="warn"
        (click)="subscribeToNotifications()"
        [ngStyle]="{ 'margin-left': '90%' }"
      >
        Subscribe
      </button>
    </mat-toolbar>
  </div>
  <div class="body">
    <div class="message-container" *ngFor="let message of messages">
      <div class="message">
        <p>{{ message.message }}</p>
      </div>
    </div>
  </div>

  <div class="footer">
    <form #loginForm="ngForm">
      <div class="textarea">
        <input
          matInput
          type="text"
          autocomplete="off"
          placeholder="Type Your Message..."
          name="newmessage"
          [(ngModel)]="newmessage"
          required
        />
      </div>

      <div class="send-button">
        <button
          mat-fab
          color="warn"
          class="send-btn"
          (click)="sendMessage()"
          [disabled]="!loginForm.valid"
        >
          <mat-icon>send</mat-icon>
        </button>
      </div>
    </form>
  </div>
</div>
